body {
  background-color: darkgray;
}

.container {
  /* this is only to center the game box */
  display: flex;
  justify-content: center;
}

#game-box {
  /* The game box will have position relative only so we can position elements inside related to the game box (using position absolute) */
  position: relative; 

  background-color: black;
  width: 400px;
  height: 600px;

  /* this allows elements to visually exist only inside the game box. We can comment and uncomment this line to see how it affects elements showing outside of the game box */
  /* overflow: hidden;  */
}

#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  /* position: absolute allows to to access properties top and left to position the element (ball) relative to the parent (game box) */
  position: absolute;
  
  /* top means the distance of the element (ball) from the top side of the parent (game box)*/
  top: 30px; 

  /* left means the distance of the element (ball) from the left side of the parent (game box) */
  left: 30px; 
}

#paddle {
  background-color: white;
  width: 100px;
  height: 20px;
  position: absolute;
  top: 550px;
  left: 200px;
}